body{

	font-family: Roboto;
}

.Tip{
	font-weight: bold;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: orange;
  overflow: hidden;
}


.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

div{
  width: 850px;
  margin: 0 auto;
}


h1{
  font-size: 36px;
  line-height: 36px;
  margin-top: 100px;
}

p{
  font-size: 24px;
  line-height: 32px;
}


h2, h3{
  font-size: 32px;
  line-height: 32px;
  margin-top: 40px;
}

ul{
  font-size:20px;
  line-height: 26px;
}

ol{
  font-size:20px;
  line-height: 26px;
}

.ingredients > li{
  margin-bottom: 10px;
}

.steps > li{
  margin-bottom:20px;
}


.Tiptext{
  background-color: #def6ed;
  margin-top: 25px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 26px;
  font-family: Arial;
  padding: 25px;
}

.plaatje{
  margin-top:40px;
}